body{
    background-color:aqua;
    font-family: Arial, Helvetica, sans-serif;
}

.heading
{
    font-size: 18px;
    border-radius:10px;
    letter-spacing:10px;
}

label
{
    font-size:14px;
    color:lightgreen;
    padding: 6px;
    border-radius:10px;
    background-color: rgb(255, 255, 255);

}